* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titlebar {
  display: flex;
}

.title {
  display: inline;
}

.logo {
  display: inline;
  width: 5vw;
  height: 5vw;
}

.locations {
  list-style: none;
  max-width: 20vw;
}

.right {
  display: flex;
  
}

#map {
  max-width: 80vw;
}

.container{
    display: flex;
}
